@import './reset.scss';

.ml-5 {
    margin-left: 5px;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-center {
    text-align: center;
}

.font-size-25 {
    font-size: 25px;
}

.font-bold {
    font-weight: bold;
}

.float-right {
    float: right;
}

.w-60 {
    width: 60px !important;
}

.flex-direction-column {
    flex-direction: column !important;
}
