body,
html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

#app {
    width: 100%;
    height: 100%;
}

.el-drawer:focus {
    outline: none !important; // 去除 el-drawer 的默认轮廓线
}

h3 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
